

body {
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    background-color: #83b5ff;
    font-weight: 900;
    font-size:12px;
}


.cabecalho .marca {
    display: flex;
    justify-content: center;
    position:relative;
    padding-left: auto;
    width: 100%;
}


.aux .toRight{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: auto;
}
.aux .toRight h5{
    padding: 1%;
    font-size: small;
    font-weight: 700;

    align-items: center;
}
.titulo{
    padding-left: auto;
    margin-top: 5%;

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size-adjust:initial ;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 5%;
}
.titulo h3{
    font-size: x-large;
    color: #060208;
    font-weight: 700;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: auto;

}
.box-botao {

    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

}
.box-botao button {

    width: 100%;
    border-radius: 10rem;

    box-shadow: 5vh;



}
.resultado{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

footer {
    padding-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


